a{
  color:white;
  text-decoration:underline;
}

p{
	text-align: center;
	color: black;
}

#sis{
	text-align: center;
	background: black;
}

div{
	text-align:center;
	
}


body{
     background-image: url("immagini/ok.jpg");
}
